@font-face {
    font-family: mainFont;
    src: url("/src/Items/Kanit/Kanit-Regular.ttf");
}

.mainText {
    font-family: mainFont;
}

.navbar {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    top:0;
    position: sticky;
    z-index: 100;
    background-color: white;    
}

.Icon {
    width: 90px;
}